{% extends 'base.html.twig' %} {% block title %}Mes Menus Hebdomadaires{%
endblock %} {% block body %}
<div class="container">
	<h1>Mes menus sauvgardés</h1>
	{% for year, months in menusByYearMonth %}
	<div class="mb-4">
		<h4>{{ year }}</h4>
		<div class="row">
			{% for month, menus in months %}
			<div class="col-md-12">
				<div class="card mb-3">
					<div class="card-header">
						<h5>{{ month }}</h5>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							{% for weeklyMeal in menus %}
							<li
								class="list-group-item d-flex justify-content-between align-items-center"
							>
								<div>
									<h7 class="mb-1"
										>Semaine du {{ weeklyMeal.weekStart|date('d/m/Y') }} au
										{{ weeklyMeal.weekEnd|date('d/m/Y') }}</h7
									>
								</div>
								<div class="btn-group" role="group" aria-label="Actions">
									<a
										href="{{
											path('app_show_weekly_menu_detail', { id: weeklyMeal.id })
										}}"
										class="btn btn-primary btn-sm"
									>
										<i class="bi bi-eye"></i>
									</a>
									<a
										href="{{
											path('app_edit_weekly_menu', { id: weeklyMeal.id })
										}}"
										class="btn btn-warning btn-sm"
									>
										<i class="bi bi-pencil"></i>
									</a>
									<form
										action="{{
											path('app_delete_weekly_menu', { id: weeklyMeal.id })
										}}"
										method="post"
										style="display: inline-block"
									>
										<input
											type="hidden"
											name="_token"
											value="{{ csrf_token('delete' ~ weeklyMeal.id) }}"
										/>
										<button class="btn btn-danger btn-sm" type="submit">
											<i class="bi bi-trash"></i>
										</button>
									</form>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
