{% extends 'base.html.twig' %} {% block title %}Menu Hebdomadaire{% endblock %}
{% block body %}
<div class="container">
	<div class="d-flex align-items-center mt-3 mb-3">
		<a href="{{ path('app_show_archived_weekly_menu') }}" class="mr-3">
			<i class="bi bi-arrow-left-circle-fill"></i>
		</a>
		<h1>Mon menu de la semaine</h1>
	</div>

	{% if weekStart and weekEnd %}
	<div class="d-flex align-items-center justify-content-between mb-3">
		<h4 class="mb-0">
			Du {{ weekStart|date('d/m/Y') }} au {{ weekEnd|date('d/m/Y') }}
		</h4>
		<div>
			<a
				href="{{ path('app_edit_weekly_menu', { id: weeklyMeal.id }) }}"
				class="btn btn-warning mt-2"
			>
				<i class="bi bi-pencil"></i>
			</a>
			<form
				action="{{ path('app_delete_weekly_menu', { id: weeklyMeal.id }) }}"
				method="post"
				style="display: inline-block"
			>
				<input
					type="hidden"
					name="_token"
					value="{{ csrf_token('delete' ~ weeklyMeal.id) }}"
				/>
				<button class="btn btn-danger mt-2">
					<i class="bi bi-trash"></i>
				</button>
			</form>
		</div>
	</div>

	<div class="table-responsive" style="width: 100%">
		<table class="table table-bordered">
			<thead>
				<tr style="height: 70px">
					<th></th>
					<th>Lundi</th>
					<th>Mardi</th>
					<th>Mercredi</th>
					<th>Jeudi</th>
					<th>Vendredi</th>
					<th>Samedi</th>
					<th>Dimanche</th>
				</tr>
			</thead>
			<tbody>
				{% for mealType, mealTypeLabel in { 'breakfast': 'Petit-déjeuner',
				'lunch': 'Déjeuner', 'snack': 'Encas', 'dinner': 'Dîner' } %}
				<tr style="height: 100px">
					<th scope="row">{{ mealTypeLabel }}</th>
					{% for day in ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi',
					'Samedi', 'Dimanche'] %}
					<td>
						{% if mealsByDayAndType[day][mealType] is defined %} {% for subType,
						meal in mealsByDayAndType[day][mealType] %} {% if meal %}
						<div>{{ meal.name }}</div>
						{% else %}
						<div>-</div>
						{% endif %} {% endfor %} {% else %} - {% endif %}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<a
		href="{{ path('app_generate_shopping_list', { id: weeklyMeal.id }) }}"
		class="btn btn-primary mt-3"
		>Générer la liste de courses</a
	>
	{% else %}
	<p>Pas de menu cette semaine.</p>
	{% endif %}
</div>
{% endblock %}
