{% extends 'base.html.twig' %} {% block title %}User Preferences{% endblock %}
{% block body %}
<div class="container">
	<div class="d-flex align-items-center mt-3 mb-3">
		<a href="{{ path('user_dashboard') }}" class="mr-3">
			<i class="bi bi-arrow-left-circle-fill"></i>
		</a>
		<h1>Votre profil</h1>
	</div>

	{{ form_start(form) }}
	<div>
		{{ form_label(form.palette) }}
		{% for child in form.palette %}
		<div class="form-check">
			{{ form_widget(child) }}
			<label class="form-check-label">
				{{ child.vars.label | raw }}
			</label>
		</div>
		{% endfor %}
		{{ form_errors(form.palette) }}
	</div>

	<div class="form-group">
		{{ form_label(form.numberOfAdults) }}
		{{ form_widget(form.numberOfAdults, { attr: { class: "form-control" } }) }}
		{{ form_errors(form.numberOfAdults) }}
	</div>

	<div class="form-group">
		{{ form_label(form.numberOfChildren) }}
		{{
			form_widget(form.numberOfChildren, { attr: { class: "form-control" } })
		}}
		{{ form_errors(form.numberOfChildren) }}
	</div>

	<div class="form-group">
		{{ form_label(form.diet) }}
		{{ form_widget(form.diet, { attr: { class: "form-control" } }) }}
		{{ form_errors(form.diet) }}
	</div>

	<div>
		{{ form_label(form.stockCategories) }}
		{% for child in form.stockCategories %}
		<div class="form-check">
			{{ form_widget(child) }}
			<label class="form-check-label">
				{{ child.vars.label }}
			</label>
		</div>
		{% endfor %}
		{{ form_errors(form.stockCategories) }}
	</div>

	<button class="btn btn-primary">
		{{ button_label|default('Enregistrer') }}
	</button>
	{{ form_end(form) }}
</div>
{% endblock %}
