{% extends 'base.html.twig' %} {% block title %}Ajouter repas{% endblock %} {%
block body %}
<div class="container">
	<h1>Créer un nouveau repas</h1>

	{{ form_start(form) }}

	<div class="form-section">
		<label class="label">Ajouter titre du repas</label>
		{{ form_widget(form.name) }}
	</div>

	<div class="form-section">
		<label class="label">Ajouter la liste des ingrédients</label>
		<div class="flex-container">
			<div class="flex-item">
				{{ form_widget(form.ingredients) }}
			</div>
			<div class="flex-item">
				<label class="label">Nbr de personne</label>
				{{ form_widget(form.NbPersonne) }}
			</div>
			<div class="flex-item">
				<label class="label">Temps de préparation</label>
				{{ form_widget(form.time) }}
			</div>
		</div>
	</div>

	<div class="form-section">
		<label class="label">Repas de la journée</label>
		{{ form_widget(form.daily) }}
	</div>

	<div class="form-section">
		<label class="label">Tags du repas</label>
		{{ form_widget(form.categories) }}
	</div>

	<div class="form-section">
		<label class="label">Préparation</label>
		{{ form_widget(form.description) }}
	</div>

	<div class="form-section">
		<label class="label">Ajouter une image</label>
		{{ form_widget(form.imageFile) }}
	</div>

	<button class="button">Enregistrer</button>

	{{ form_end(form) }}

	<a href="{{ path('user_dashboard') }}" class="button button-secondary mt-3"
		>Retour au tableau de bord</a
	>
</div>
{% endblock %} {% block javascripts %}
{{ parent() }}
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var ingredientCollectionHolder =
			document.querySelector("#meal_ingredients");
		var addIngredientButton = document.createElement("button");
		addIngredientButton.type = "button";
		addIngredientButton.className = "add-button";
		addIngredientButton.innerText = "Ajouter un ingrédient";

		var newLinkLi = document.createElement("div");
		newLinkLi.appendChild(addIngredientButton);
		ingredientCollectionHolder.appendChild(newLinkLi);

		ingredientCollectionHolder.dataset.index =
			ingredientCollectionHolder.querySelectorAll("input").length;

		addIngredientButton.addEventListener("click", function (e) {
			addIngredientForm(ingredientCollectionHolder, newLinkLi);
		});

		function addIngredientForm(collectionHolder, newLinkLi) {
			var prototype = collectionHolder.dataset.prototype;
			var index = collectionHolder.dataset.index;
			var newForm = prototype.replace(/__name__/g, index);

			collectionHolder.dataset.index++;
			var newFormLi = document.createElement("div");
			newFormLi.innerHTML = newForm;
			collectionHolder.insertBefore(newFormLi, newLinkLi);
		}
	});
</script>
{% endblock %}
