{% extends 'base.html.twig' %}

{% block title %}Mon stock{% endblock %}

{% block body %}
<div class="container" id="masonry-container">
    <div class="d-flex align-items-center mt-3 mb-3">
        <a href="{{ path('user_dashboard') }}" class="mr-3">
            <i class="bi bi-arrow-left-circle-fill"></i>
        </a>
        <h1>Mon stock</h1>
    </div>

    <a href="{{ path('app_pantry_item_new') }}" class="btn btn-success mb-4">Ajouter au stock</a>

    <div class="masonry">
      <!-- Fruits -->
<div class="masonry-item mb-4" data-category="Fruits">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Fruits</h3>
        </div>
        <div class="card-body">
            {% set fruits_items = pantry_items | filter(item => item.getType() == 'Fruits') %}
            {% if fruits_items | length > 0 %}
                {% for pantry_item in fruits_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles fruits trouvés</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Légumes -->
<div class="masonry-item mb-4" data-category="Légumes">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Légumes</h3>
        </div>
        <div class="card-body">
            {% set legumes_items = pantry_items | filter(item => item.getType() == 'Légumes') %}
            {% if legumes_items | length > 0 %}
                {% for pantry_item in legumes_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles légumes trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


      <!-- Produits Laitiers -->
<div class="masonry-item mb-4" data-category="Produits Laitiers">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Produits Laitiers</h3>
        </div>
        <div class="card-body">
            {% set produits_laitiers_items = pantry_items | filter(item => item.getType() == 'Produits Laitiers') %}
            {% if produits_laitiers_items | length > 0 %}
                {% for pantry_item in produits_laitiers_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles produits laitiers trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- Viande -->
<div class="masonry-item mb-4" data-category="Viande">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Viande</h3>
        </div>
        <div class="card-body">
            {% set viande_items = pantry_items | filter(item => item.getType() == 'Viande') %}
            {% if viande_items | length > 0 %}
                {% for pantry_item in viande_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles viande trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


       <!-- Poisson -->
<div class="masonry-item mb-4" data-category="Poisson">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Poisson</h3>
        </div>
        <div class="card-body">
            {% set poisson_items = pantry_items | filter(item => item.getType() == 'Poisson') %}
            {% if poisson_items | length > 0 %}
                {% for pantry_item in poisson_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles poisson trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


  <!-- Surgelé -->
<div class="masonry-item mb-4" data-category="Surgelé">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Surgelé</h3>
        </div>
        <div class="card-body">
            {% set surgele_items = pantry_items | filter(item => item.getType() == 'Surgelé') %}
            {% if surgele_items | length > 0 %}
                {% for pantry_item in surgele_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles surgelé trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


       <!-- Sauces -->
<div class="masonry-item mb-4" data-category="Sauces">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Sauces</h3>
        </div>
        <div class="card-body">
            {% set sauces_items = pantry_items | filter(item => item.getType() == 'Sauces') %}
            {% if sauces_items | length > 0 %}
                {% for pantry_item in sauces_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles sauces trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- Féculents -->
<div class="masonry-item mb-4" data-category="Féculents">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Féculents</h3>
        </div>
        <div class="card-body">
            {% set feculents_items = pantry_items | filter(item => item.getType() == 'Féculents') %}
            {% if feculents_items | length > 0 %}
                {% for pantry_item in feculents_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles féculents trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


      <!-- Oléagineux -->
<div class="masonry-item mb-4" data-category="Oléagineux">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Oléagineux</h3>
        </div>
        <div class="card-body">
            {% set oleagineux_items = pantry_items | filter(item => item.getType() == 'Oléagineux') %}
            {% if oleagineux_items | length > 0 %}
                {% for pantry_item in oleagineux_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles oléagineux trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- Conserve -->
<div class="masonry-item mb-4" data-category="Conserve">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Conserve</h3>
        </div>
        <div class="card-body">
            {% set conserve_items = pantry_items | filter(item => item.getType() == 'Conserve') %}
            {% if conserve_items | length > 0 %}
                {% for pantry_item in conserve_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles conserve trouvés</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Herbes -->
<div class="masonry-item mb-4" data-category="Herbes">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Herbes</h3>
        </div>
        <div class="card-body">
            {% set herbes_items = pantry_items | filter(item => item.getType() == 'Herbes') %}
            {% if herbes_items | length > 0 %}
                {% for pantry_item in herbes_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles herbes trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- Epices -->
<div class="masonry-item mb-4" data-category="Epices">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Epices</h3>
        </div>
        <div class="card-body">
            {% set epices_items = pantry_items | filter(item => item.getType() == 'Epices') %}
            {% if epices_items | length > 0 %}
                {% for pantry_item in epices_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles epices trouvés</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Épicerie sèche -->
<div class="masonry-item mb-4" data-category="Épicerie sèche">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Épicerie sèche</h3>
        </div>
        <div class="card-body">
            {% set epicerie_seche_items = pantry_items | filter(item => item.getType() == 'Épicerie sèche') %}
            {% if epicerie_seche_items | length > 0 %}
                {% for pantry_item in epicerie_seche_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles épicerie sèche trouvés</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Enfant -->
<div class="masonry-item mb-4" data-category="Enfant">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Enfant</h3>
        </div>
        <div class="card-body">
            {% set enfant_items = pantry_items | filter(item => item.getType() == 'Enfant') %}
            {% if enfant_items | length > 0 %}
                {% for pantry_item in enfant_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles enfant trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


  <!-- Hygiène -->
<div class="masonry-item mb-4" data-category="Hygiène">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Hygiène</h3>
        </div>
        <div class="card-body">
            {% set hygiene_items = pantry_items | filter(item => item.getType() == 'Hygiène') %}
            {% if hygiene_items | length > 0 %}
                {% for pantry_item in hygiene_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles hygiène trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- Fournitures ménagères -->
<div class="masonry-item mb-4" data-category="Fournitures ménagères">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Fournitures ménagères</h3>
        </div>
        <div class="card-body">
            {% set fournitures_items = pantry_items | filter(item => item.getType() == 'Fournitures ménagères') %}
            {% if fournitures_items | length > 0 %}
                {% for pantry_item in fournitures_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles fournitures ménagères trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- Médicaments -->
<div class="masonry-item mb-4" data-category="Médicaments">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Médicaments</h3>
        </div>
        <div class="card-body">
            {% set medicaments_items = pantry_items | filter(item => item.getType() == 'Médicaments') %}
            {% if medicaments_items | length > 0 %}
                {% for pantry_item in medicaments_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles médicaments trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


      <!-- Papeterie -->
<div class="masonry-item mb-4" data-category="Papeterie">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Papeterie</h3>
        </div>
        <div class="card-body">
            {% set papeterie_items = pantry_items | filter(item => item.getType() == 'Papeterie') %}
            {% if papeterie_items | length > 0 %}
                {% for pantry_item in papeterie_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles papeterie trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- Animaux -->
<div class="masonry-item mb-4" data-category="Animaux">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Animaux</h3>
        </div>
        <div class="card-body">
            {% set animaux_items = pantry_items | filter(item => item.getType() == 'Animaux') %}
            {% if animaux_items | length > 0 %}
                {% for pantry_item in animaux_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles animaux trouvés</p>
            {% endif %}
        </div>
    </div>
</div>


      <!-- Divers -->
<div class="masonry-item mb-4" data-category="Divers">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Divers</h3>
        </div>
        <div class="card-body">
            {% set divers_items = pantry_items | filter(item => item.getType() == 'Divers') %}
            {% if divers_items | length > 0 %}
                {% for pantry_item in divers_items %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <label class="form-label mb-0" for="item-{{ pantry_item.id }}">
                            {{ pantry_item.name }}
                        </label>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ path('app_pantry_item_update', { id: pantry_item.id }) }}" class="mb-0 mr-2">
                                <select name="InStock" class="form-select" onchange="this.form.submit()">
                                    <option value="">Select status</option>
                                    <option value="1" class="in-stock-option" {% if pantry_item.isInStock() == true %}selected{% endif %}>En stock</option>
                                    <option value="0" class="out-of-stock-option" {% if pantry_item.isInStock() == false %}selected{% endif %}>A acheter</option>
                                    <option value="" class="neutral-option" {% if pantry_item.isInStock() is null %}selected{% endif %}>Neutre</option>
                                </select>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pantry_item.id) }}">
                            </form>
                            <form method="post" action="{{ path('app_pantry_item_delete', { id: pantry_item.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');" class="mb-0">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pantry_item.id) }}">
                                <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas d'articles divers trouvés</p>
            {% endif %}
        </div>
    </div>
</div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const container = document.querySelector(".masonry");

        Sortable.create(container, {
            animation: 150,
            onEnd: function (evt) {
                const items = container.querySelectorAll(".masonry-item");
                let order = [];
                items.forEach((item, index) => {
                    order.push({
                        category: item.getAttribute("data-category"),
                        position: index + 1,
                    });
                });

                // Envoi de la nouvelle disposition au serveur
                fetch("{{ path('app_update_order') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRF-TOKEN": "{{ csrf_token('update-order') }}",
                    },
                    body: JSON.stringify({ order }),
                });
            },
        });
    });
</script>
{% endblock %}
