{% block content %}
<nav class="navbar navbar-expand-lg flex-column vh-100">
	<div class="container-fluid d-flex flex-column mt-custom">
		<div class="collapse navbar-collapse flex-column" id="navbarColor01">
			<ul class="navbar-nav flex-column w-100">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
				</li>
				{% if app.user %} {% if 'ROLE_ADMIN' in app.user.roles %}
				<!-- Lien spécifique pour ROLE_ADMIN si nécessaire -->
				{% elseif 'ROLE_USER' in app.user.roles %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('user_dashboard') }}"
						>Tableau de bord</a
					>
				</li>
				{% endif %} {% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_meal_new') }}"
						>Créer un repas</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_meal_types') }}"
						>Voir tous vos repas</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_categorie_index') }}"
						>Vos tags repas</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_weekly_menu') }}"
						>Créer un menu</a
					>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_show_current_weekly_menu') }}"
						>Mon menu de la semaine</a
					>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_show_archived_weekly_menu') }}"
						>Archive menus hebdomadaire</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_pantry_item_index') }}"
						>Voir mon stock</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_user_preferences') }}"
						>Mon profil</a
					>
				</li>
			</ul>
			<div class="mt-auto">
				<ul class="navbar-nav flex-column">
					{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('security.logout') }}"
							>Déconnexion</a
						>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('security.login') }}"
							>Connexion</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('security.registration') }}"
							>Inscription</a
						>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>
{% endblock %}
